<p>
<h1>git change</h1>
</p>
<input #newI (keyup.enter)= "addNew(newI.value)"> 
<button (click)="addNew2(newI.value)">add</button>
<ul>
  <li *ngFor="let i of arr">
    {{ i }}
  </li>
</ul>
<button (click)="onClick()">click</button>
<button (click)="onClick2()">click</button>
<p>{{ clickMessage }}</p>

<input type="text" (keyup)="onKey($event)">
<p> {{ values }}</p>

<input #box (keyup)="0">
<p>{{ box.value }}</p>

<input #box2 (keyup)="onKeyup(box2.value)">
<p>{{ box2Values }}</p>

<input #box3 (keyup.enter) = "values2 = box3.value">
<p>{{ values2 }}</p>

<input #box4 (keyup.enter)= "values3 = box4.value" (blur)="values3 = ''">
{{ values3 }}